body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    /*display: inline;  Hace que los ítems del menú estén en una línea horizontal */
    margin-right: 20px; /* Espacio entre los ítems del menú */
}

/*Color del texto de las opciones del menú*/
nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/*Color del resaltado del foco del menú*/
nav a:hover {
    text-decoration: none;
    color: #f00;
}
